.Page {
  padding-top: 130px;
  padding-bottom: 130px;
}

@media (max-width: 1440px) {
  .Page {
    padding-top: 65px;
    padding-bottom: 100px;
  }
}

@media (max-width: 480px) {
  .Page {
    padding-top: 30px;
    padding-bottom: 80px;
  }
}