.ButtonLink {
  padding: 16.5px 30px;
  background: #101010;
  border-radius: 7.5px;
  font-weight: 500;
  font-size: 18px;
  color: #FFFFFF;
  white-space: nowrap;
  text-decoration: none;
}

.active {
  background: var(--text-gradient);
}