.TableHeaders {
  tr {
    text-align: left;
    th:first-child {
      padding-left: 30px;
      border-bottom-left-radius: 10px;
      border-top-left-radius: 10px;
    }
    th:last-child {
      border-bottom-right-radius: 10px;
      border-top-right-radius: 10px;
    }
  }
}

.dark {
  background: var(--card-bg);
}

.extended {
  tr {
    height: 80px;
  }
}