:root {
  --navbar-inverted-background: rgba(239, 239, 239, 0.8);
  --navbar-height: 75px;
  --text-gradient: radial-gradient(34.54% 63.04% at 29.98% 85.91%, #E18BFF 0%, #836FFF 100%);
  --transition-duration: 300ms;
  --light-color: rgba(255, 255, 255, 0.5);
  --error-color: #DC3B3B;
  --success-color: #86E859;
  --overlay-background: rgba(0, 0, 0, 0.5);
  --overlay-blur: blur(5px);
}