:root {
  --bg-color: #000;
  --bg-inverted: #FFF;
  --primary-color: #FFF;
  --secondary-color: #B8B8B8;
  --inverted-color: #000;
  --pastel-blue: #5F7494;
  --navbar-background: rgba(0, 0, 0, 0.8);
  --inactive-color: rgba(255, 255, 255, 0.5);
  --dropdown-background: rgba(0, 0, 0, 0.5);
  --dropdown-item-hover: rgba(255, 255, 255, 0.1);
  --dropdown-item-hover-inverted: rgba(0, 0, 0, 0.1);
  --dark-color: #101010;
  --secondary-dark: #1C1C1C;
  --light-gray: #E9E9E9;
  --dark-gray: #373737;
  --button-dark: #1D1D1B;
  --button-blue: #557CE0;
  --light-normal: rgba(255, 255, 255, 0.5);
  --footer-bg: #FFF;
}