.light {
  --bg-color: #FFF;
  --bg-inverted: #000;
  --primary-color: #000;
  --inverted-color: #FFF;
  --navbar-background: rgba(239, 239, 239, 0.8);
  --dropdown-background: rgba(239, 239, 239, 0.9);
  --dropdown-item-hover: rgba(0, 0, 0, 0.1);
  --inactive-color: rgba(0, 0, 0, 0.5);
  --footer-bg: #000;
}